*{
    margin: 0px;
    font-size: 28px;
    box-sizing: border-box;
}
body{
    padding: 0px;
}
.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.container{
    height: 50vh;
    width: 50vw;
    border:2px solid red;

}
ul{
    padding-left: 50px;
}
li{
    list-style-type: none;
}
li:nth-child(even){
    color: red;
}
li::before{
    content: '- ';
}
h2{
    margin: 25px 50px;
}
.one::before{
    content:'\0000a01\0000a0';
}
.two::before{
    content:'\0000a02\0000a0';
}
.three::before{
    content:'\0000a03\0000a0';
}
.four::before{
    content:'\0000a04\0000a0';
}
.one::before, .two::before, .three::before, .four::before{
    position: absolute;
    margin-left: 12px;
    border: solid red;
    border-radius: 50%;
}
